name: CI

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Rustup toolchain to 1.91.1
        shell: bash
        run: |
          rustup default 1.91.1
          rustup component add clippy rustfmt
      - name: Cache cargo registry
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
            ./target
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-registry-
      - name: Build
        run: cargo build
      - name: Run tests
        run: cargo test
      - name: Format
        run: cargo fmt -- --check
      - name: Linting
        run: cargo clippy -- -D warnings
      - name: Audit
        run: |
          cargo update
          cargo audit
        # Allowed to fail but this will notify us that some dependency might need an update.
        continue-on-error: true

      # Run code coverage
      - name: Run code coverage
        continue-on-error: true
        shell: bash
        run: |
          cargo install cargo-tarpaulin
          cargo tarpaulin --out Xml --output-dir . 
          ls -la cobertura.xml

      # Upload coverage to Codecov
      - name: Upload coverage to Codecov
        continue-on-error: true
        uses: codecov/codecov-action@v5
        with:
          files: ./cobertura.xml
          slug: sctg-development/okapi
          token: ${{ secrets.CODECOV_TOKEN }}
